*{
    padding: 0;
    margin: 0;
}

.header{
    height: 80px;
    background-color: #1f2937;
    display: grid;
    place-items: center;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px; 
    height: 100%;
    width: 70em;
    max-width: 70em;
    /* background-color: aqua; */
}

.header-logo{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.nav-container{
    /* background-color: aliceblue; */
    width: 300px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: black; */
}

.nav-item{
    list-style: none;
    
}

.nav-link{
    text-decoration: none;
    color: #9198a3;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.ladning-section{
    display: grid;
    place-items: center;
    background-color: #1f2937;
    height: 30em;
}

.landing-container{
    height: 100%;
    width: 70em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-container{
    flex: 1;
    height: 100%;
    background-color: #3a84f1;
}

.ladning-title{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.ladning-subtitle{
    color: #9198a3;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 12px;
}

.sign-up-btn{
    background-color: #3a84f1;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 9px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.right-container{
    flex: 1;
}

.container-img{
    height: 300px;
}

.header-2 {
    text-align: center;
    

}

.header-2 > h1 {
    font-family: 'Roboto', sans-serif;   
    font-weight: 700;
}

.box {
    border: 3px solid #3b82f6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.box-content {
    display: flex; 
    text-align: center;
    flex-direction: column;
    width: 150px;
}

.box-content > p {
    font-family: 'Roboto', sans-serif;
}

.box-wrapper {
    display: flex;
    justify-content: space-between;
    width: 70em; 
}

.not-wrap {
    display: grid;
    padding: 50px;
    width: 100%;
    place-items: center; 
    margin-top: 25px;  
}

.wrapper {
    margin-top: 25px;
}

.test {
    background-color: #e5e7eb;
    
    padding: 125px;
    align-content: center;
}

.oop {
display: flex;
font-size: 24px;

justify-content: center;


}

.para {
    font-family: 'Roboto', sans-serif;
    max-width: 30em;  
}



.thor {
    text-align: right;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
 
.section {
    background-color: white;
    
    padding: 125px;
    align-content: center; 
}

.s2 {
    display: flex;
    background-color: #3b82f6;
    padding: 50px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
}

.s3 {
  display: flex;
  flex-direction: column;
    

}





.btn2 {
    
    background-color: #3a84f1;
    color: #fff;
    border-color: #fff;
    padding: 0 15px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    
}

footer {
    display: flex;
    background-color: #1f2937;
    color: #fff;
    padding: 30px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}